a {
    text-decoration: none;
}
@font-face {
    font-family: 'exo thin';
    font-style: normal;
    font-weight: normal;
    src: url(font/Exo-Thin.woff) format('woff');
    }
@font-face {
    font-family: 'exo medium';
    font-style: normal;
    font-weight: normal;
    src: url(font/Exo-Medium.woff) format('woff');
    }
	@font-face {
    font-family: 'exo regular';
    font-style: normal;
    font-weight: normal;
    src: url(font/Exo-Regular.woff) format('woff');
    }
	@font-face {
    font-family: 'Exo-Regular-italic';
    font-style: normal;
    font-weight: normal;
    src: url(font/Exo-Regular-Italic.woff) format('woff');
    }
.header{
    text-align:center;
}
.video{
     width: 1349px;
	position: relative;
}
.text{
	min-width:1400px;
	font-family: 'exo thin';
	font-size:60px;
	width:1400px;
	position: absolute;
	left:50%;
	top:200px;
	margin-left: -780px;
}
.background-boll{

	background-color:#8185A3;
	height:50px;
	width:50px;
	border-radius:50%;
	position:relative;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer
}
.boll{
	
	position:absolute;
	color:white;
	font-size:30px;
	margin-left:15px;
	margin-top:10px;
}
.red-block{
	margin-top:10px;
	margin-bottom:15px
}
.submit-now{
	padding:10px 50px 10px 50px;
	border-radius:5px;
	  font-family: 'exo regular';
	  font-size:16px;
	 text-transform:uppercase;
	background:#FF6D6D;
	color:#FFEBEB;
}
.text-no{
	font-size:16px;
	  font-family: 'exo regular';
	  color:#8C8C8F;
}
.media{
	display:none
}
#fa-play{
	display:none
}
.relative{
	position:relative;
}
.gr{
	background-image: linear-gradient(140deg , #ececec 60%, #fb8686 40% );
}
.block{	
	width:1349px;

	background-color:#FFFFFF;
	font-family: 'exo medium';
	margin: auto;
	display:flex;
	flex-direction:row;
}
.block-in-block{
		margin-left:50%;
	margin-bottom:150px;
	margin-left:100px;
	margin-top:100px;
	margin-right:150px;
}
.text-new{
	color:#FF7878;
	font-weight:bold;
	padding-bottom:10px;
}
.text-like{
	font-size:40px;
	color:#282828;
	padding-bottom:50px;
}
.text-over{
	color:#A7A7A7;
}
.text-aenean{
	padding-bottom:30px;
}
.gradient{
	margin-top:-5px;
	width:600px;
	background: linear-gradient(146deg, #ECECEC 60.5%, #FB8686 40%)
}
.mini-menu{
	width:1349px;
	background-image:url(image/cupandpen.png);
	margin-left: auto;
	margin-right:auto;
	height:675px;
}
.text-mini{
	text-align:center;
	font-family: 'exo medium';
	color:#FF7878;
	padding-top:150px;
	padding-bottom:10px;
}
.text-menu{
	text-align:center;
	font-size:40px;
	font-family: 'exo medium';
	padding-bottom:100px;
}
.img{
	margin-left:150px;
	margin-right:150px;
	padding-bottom:40px;
}
.text-center{
	font-family: 'exo medium';
	display:flex;
	font-size:22px;
	font-weight:bold;
	color:#282828;
	justify-content:center;
}
.text_center{
	margin-right:140px;
	padding-bottom:20px;
}
.text_center-some{
	margin-right:140px
}
.donec{
	font-family: 'exo medium';
	display:flex;
	color:#9A9998;
	justify-content: center;
}
.donec_text, .donec_text_donec{
	text-align:center;
	line-height:20px;
}
.donec_text-donec{
	margin-right:60px;
	margin-left:60px;
	text-align:center;
	line-height:20px;
}
.image{
	text-align:center
}
.container-computer{
	background-image:linear-gradient(225deg, #FFFFFF 65%, #FB8686 55%);

	width:1349px;
	margin:auto;
	display:flex
	
}
.macbook{
	width:600px;
	height:350px;
	margin-top:100px;
	margin-left:140px;
	margin-right:50px
}
.text-mackbook{
	margin-top:120px;
	margin-bottom:120px;
	font-family: 'exo medium';
	color:#FF6E6E;
}
.text-over{
	line-height:25px;
}
.black-block{
	width:1349px;
	background-image:url(image/black-miror.png);
	height:600px;
	margin-left:auto;
	margin-right:auto;
}
.square{
	margin-left:100px;
	height:100px;
	width:100px;
	background-color:#4E4E5E;
	margin-bottom:10px;

}
.black-square{
	justify-content:center;
	display:flex;
	padding-top:120px;
	padding-bottom:55px;

	
}
.text-black{
	text-align:center;
	
}
.bottom-black{
	margin-bottom:5px;
	color:#F7F7F7;
	font-size:22px;
	font-family: 'exo medium';
}
.bottom{
	color:#FB8686;
	margin-bottom:20px;
	font-family: 'exo medium';
}
.black{
	color:#BCBDBE;
	line-height:20px;
	  font-family: 'Exo-Regular-italic';
}
.logo-block{
	text-align:center;
}
.firm{
	margin-right:100px;
	filter: grayscale(10%)
}
.white-block{
		width:1349px;
	margin-left:auto;
	margin-right:auto;
	font-family: 'exo medium';
	background-color:#F6F5F3;
}
.little-text{
	text-align:center;
	margin-bottom:100px;
}
.text_menu{
	text-align:center;
	font-size:40px;
	font-family: 'exo medium';
	padding-bottom:50px;
}
.text-text{
	color:#9A9998;
	line-height:25px;
}
.comp{
background-image:url(image/comp.png);
border-radius:5px;
height:350px;
width:770px;
background-size:cover;
background-repeat:no-repeat;
margin-left:auto;
margin-right:auto;
box-shadow:1px 1px 20px 10px #E2E1E2;
}
.text-mini-new{
	text-align:center;
	font-family: 'exo medium';
	color:#FF7878;
	padding-top:60px;
	padding-bottom:10px;
}
.block-blue{
		width:1349px;
	margin-left:auto;
	margin-right:auto;
	z-index:0 ;
	background-color: #323969;
	text-align: center

}
.input{
	margin-right: 40px;
	border:1px solid #6B7093;
	padding: 20px;
	padding-left: 20px;
	width: 15%;
	background-color: #474D78;
	color:white;
}
 .input-email{
	 position:relative;
	 border:1px solid #C8C8CE;
	 background-color:#F6F6F6;
	 margin-right: 40px;
	padding: 15px;
	font-size:18px;
	padding-left: 20px;
	width: 80%;
 }
.submit{
	padding: 20px;
	width: 18%;
	border: none;
	cursor: pointer;
	color:#FFFFFF;
	background-color: #FF6D6D;
}
.input-block{

	padding-bottom: 30px;
}
.text-block-blue{
	color:#B8B9C3;
	padding-bottom: 130px;
}
.terms{
	text-decoration:underline;
}
.terms:hover{
	color:#C35062;
	cursor: pointer;
}
.submit-line{
	position: relative;
}
.line{
	background-image: url("");
	width: 18px;
	height: 35px;

	background-repeat:no-repeat;
}
.line-text{

	color:#FFFFFF;
	    font-family: 'exo regular';
}
.over-absolute{
	display:flex;
	margin-left:72%;
	margin-bottom:20px;
}
 .text-black{
	 	 margin-left:auto;
 margin-right:auto;
 }
 .footer{
	 display:flex;
	 width:1349px;
	 margin-left:auto;
	 margin-right:auto;
 }
 .menu{
	 margin-bottom:30px;
	   font-family: 'exo regular';
	   font-size:26px;
	 text-transform:capitalize;
	 margin-top:100px;
	 padding-right:80px;
 }
 .small-gradient{
	 background-image:linear-gradient(51deg, #FFFFFF 50% ,#FF8A8A 50%);
	 width:280px;
	 margin-right:auto;
 }
 .menu-column{
	 display:flex;
	 flex-direction:column;
	 margin-bottom:100px;
 }
 .nav-menu{
	 font-size:14px;
	 color:#9D9D9D;
	 margin-bottom:10px;
 }

 .plane{
	 background-image:url(image/plane.png);
	 background-repeat:no-repeat;
	 background-position:center;
	  border:none;
	 position:absolute;
	 margin-top:-53px;
	 margin-left:235px;
	 padding:16.5px;
	width:53px;
	height:53px;
	cursor:pointer;
	 background-color:#FF6D6D;
	 z-index:1;
 }
 .row{
	 display:flex;
 }
 .a-play{
	background-image:url(image/player.png);
	padding:6px;
	color:white;
 }
 .awesome{
	display:flex;
	justify-content:center;
 }
 .font{
	margin-right:35px;
	font-size:20px;
	color:#CBCBCB;
	cursor:pointer
 }
 .form-min{
	 display:none;
 }
 .coll{
	 padding-left:124px ;
	 margin-right:20px
	 }
 
 
 





@media screen and (max-width: 1000px){
.white-block, .block-blue{
	width:100%;
	}
.text-black{
	margin:0px;
}
	.comp, .line, .line-text, .awesome{
		display:none
	}
.text-block-blue{
	padding-bottom:30px;
}
.block{
	display:block;
	background-image:linear-gradient(145deg, #ECECEC 59%, #FB8686 41%);
	width:100%;
}
.input, .submit{
	display: flex;
	flex-direction: column;
}
.submit{
    margin-left: auto;
    margin-right: auto;
	width: 50%;
}
.input{
	margin-bottom: 5px;
	margin-left: auto;
    margin-right: auto;
	width: 50%;
}

.mini-menu{
	display:block;
	background-image:linear-gradient(145deg, #FB8686 50%, #978E9A 50%);
	width:100%;
	height:300px;
}
.donec_text{
	color:white;
	margin:auto
}
.mackbook{
	background-image:https://cdn1.savepice.ru/uploads/2018/9/16/16fc937aa786fb5c763edddf8074bd20-full.png;
	width:50px;
	margin-top:100px;
}
 .black-block{
	 background-image:linear-gradient(145deg, #FB8686 50%, #978E9A 50%);
	width:100%
 }
 .square{
	 display:none;
 }
 .text-black{
	 padding:10px;
		border:solid white;
		margin-top:10px;
		font-size:14px;
 }
 .bottom, .black{
	 color:white;
 }
.black-square{

	padding-top:20px;
	display:flex;
	flex-direction:column;
}
.macbook{
	width:600px;
	margin-right:auto;
	margin-left:auto;
}
.text-mackbook{
	margin-bottom:0px;
	text-align:center;
	margin-left:10px;
	margin-top:230px;
}

.container-computer{
	background-image:linear-gradient(10deg, #FB8686 50%, #978E9A 50%);
	width:100%;
}

.text-mini{
	color:white;
	padding-top:25px;
}
.gradient, .text-menu, .donec_text-donec, .donec_text_donec, .text-center{
	display:none;
}
.text-over{
	color:#282828;
}
.block-in-block{
	padding-top:100px;
	margin:0px;
}
.text-over{
	line-height:20px;
}
.mini-text, .logo-block{
	display:none;
}
.header, .black-block{
	max-width:100%;

}
.video{
	width:100%;	
}
.text{
	display:none;
}
#fa-play{
	position:absolute;	
	margin-top:-50px;
	margin-left:-10px;
	color:#FF6D6D;
	font-size:30px;
}
.relative{
	position:relative
}
.media{
	margin-top:-5px;
	display:block;
	background-color:#FF6D6D;
	padding:10px;
	color:white;
	font-size:20px;
	text-transform:uppercase
}
.media-href{
	color:white;
}
.white-block{
	background-image:linear-gradient(8deg, #FB8686 50%, #978E9A 40%);
}
.little-text, .text-mini-new, .text-text{
	color:white;
	margin-bottom: 0px;
}

 .nav-menu, .small-gradient, .form-mini, .one, .a-play{
	 display:none;
 }
 .menu:hover ~ .nav-menu{ 
 width:100%;
   display: block; 
} 
 .menu:focus ~ .nav-menu{ 
   display: block; 
} 
 .menu:active ~ .nav-menu{ 
   display: block; 
} 
.footer{
	background-color:#323969;
	width:100%;
		display:flex;
	flex-direction:column
}
.plane{
margin-left:40%;
}
.start{
	width:40%;
}
.row{
	margin-left:auto;
	margin-right:auto;
}
.menu{
	text-align:center;
	font-size:20px;
	padding-right:0px;

}
.form-min{
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:50%;
}
.coll{
	padding-left:0px;
	padding-right:0px;
	margin-right:30px;
}
.menu-column{
	padding-right:10%;
}

}




























@media screen and (max-width: 600px){
.mackbook, .macbook{
	display:none;
}

.text-over{
	line-height:15px;
	text-align:center;
}

}
@media screen and (max-width: 400px){
.img{
	padding-right:20px;
	margin-left:auto;
	margin-right:auto
}
.text-over{
	line-height:15px;
}
.text-mackbook{
	margin-top:20px;
}

}
@media screen and (max-width: 300px){
.text-mackbook{
	margin-top:100px;
}
.text-black{
	font-size:12px;
}
.black-block{
	height:700px;
}
}














